[Unit]
Description=tanlnode

[Service]
Type=simple
EnvironmentFile=/etc/tanlnode/%i/config
ExecStart=/usr/bin/tanlnode

[Install]
WantedBy=multi-user.target

